<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <CANHUB_TEST_ZLG>1</CANHUB_TEST_ZLG>
      <CANHUB_TEST_ZLG_DEVICE0>0</CANHUB_TEST_ZLG_DEVICE0>
      <CANHUB_TEST_ZLG_DEVICE1>1</CANHUB_TEST_ZLG_DEVICE1>
      <CANHUB_TEST_ZLG_BUS1_CHANNEL>0</CANHUB_TEST_ZLG_BUS1_CHANNEL>
      <CANHUB_TEST_ZLG_BUS2_CHANNEL>1</CANHUB_TEST_ZLG_BUS2_CHANNEL>
      <CANHUB_TEST_ZLG_SCAN_DEPTH>2</CANHUB_TEST_ZLG_SCAN_DEPTH>
      <CANHUB_TEST_VECTOR>1</CANHUB_TEST_VECTOR>
      <CANHUB_TEST_VECTOR_DEVICE>0</CANHUB_TEST_VECTOR_DEVICE>
      <CANHUB_TEST_VECTOR_CHANNEL_INDEX>2</CANHUB_TEST_VECTOR_CHANNEL_INDEX>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
